  /*----------------------*/
 /*-- Montserrat Fonts --*/
/*----------------------*/
@font-face {
   font-family: MontserratBold;
   src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
   font-family: MontserratRegular;
   src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
   font-family: MontserratLight;
   src: url(../fonts/Montserrat-Light.otf);
}
.fontbold{
    font-family: MontserratBold, sans-serif;
}
.fontlight{
    font-family: MontserratLight, sans-serif;
}
body{
    font-family: MontserratRegular, sans-serif;
    background: #fff;
}
  /*----------------*/
 /*-- Navigation --*/
/*----------------*/
nav{
    height: 80px !important;
    line-height: 80px !important;
    background: rgba(0, 0, 0, 0.6) !important;
}
nav img.responsive-img{
    margin-top: 17px;
}
nav .brand-logo{
    height: 80px;
}
nav ul a{
    color: #fff;
    transition: color .5s !important;
    -webkit-transition: color .5s !important;
    font-size: 12px !important;
    padding: 0 10px 0 10px !important;
}
nav ul.right li:first-child a{
    padding: 0 10px 0 0 !important;
}
nav ul.right li:last-child a{
    padding: 0 0 0 10px !important;
}
nav ul a:hover, nav ul a.active{
    background: none !important;
    color: #fcda00;
}
nav .button-collapse {
    float: right !important;
    margin: 0 !important;
}
nav i.material-icons{
    font-size: 30px !important;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav{box-shadow : none !important;}
#sidenav-overlay{
    z-index: 99 !important;
}
nav .side-nav{
    width: 200px !important;
    z-index: 999 !important;
}
nav .side-nav li:hover, nav .side-nav li.active{
    background: #000;
}
nav .side-nav li.active a{
    color: #fcda00;
}
  /*-----------------*/
 /*-- Home Header --*/
/*-----------------*/
section.homeheader{
    background: url('../images/home-header-bg.jpg') top center;
    background-size: cover;
    color: #fff;
    margin-top: -65px;
    padding: 120px 0 20px;
    position: relative;
    overflow: hidden;
}
section.homeheader .mobile-picture{
    position: absolute;
    width: 26%;
}
section.homeheader article h1{
    font-size: 40px;
    margin: 18px 0 15px;
    line-height: 36.4px;
}
section.homeheader article h1 span{
    color: #fcda00;
}
section.homeheader article p{
    font-size: 21px;
    line-height: 25.4px;
}
section.homeheader article p.cntnt{
    margin: 0 0 23px;
}
section.homeheader article .valign-wrapper p{
    font-size: 14px;
    line-height: 15.4px;
    margin: 0;
}
section.homeheader article .valign-wrapper span.nmbr{
    font-size: 32px;
    color: #fcda00;
    border: 1px solid;
    height: 40px;
    width: 40px;
    letter-spacing: 30px;
    line-height: 37px;
    margin: 6px 15px 6px 0;
    padding-left: 9px;
}
section.homeheader article .valign-wrapper span.frstnmbr{
    margin: 0 15px 6px 0;
    padding-left: 12px;
}
section.homeheader article .valign-wrapper p a{
    font-size: 21px;
    color: #2d2d2c;
    background: #fcda00;
    padding: 13px;
    display: block;
    transition: all .5s;
    -webkit-transition: all .5s;
}
section.homeheader article .valign-wrapper p a img{
    margin-left: 13px;
}
section.homeheader article .valign-wrapper p a:hover img.bl-arrow{
    display: none;
}
section.homeheader article .valign-wrapper p a img.yw-arrow{
    display: none;
}
section.homeheader article .valign-wrapper p a:hover img.yw-arrow{
    display: block;
}
section.homeheader article .valign-wrapper p a:hover{
    border: 1px solid #fcda00;
    color: #fcda00;
    background: none;
}
section.homeheader article p.fontlight span.fontbold{
    color: #fcda00;
}
  /*------------------*/
 /*-- Home Service --*/
/*------------------*/
section.homeservice{
    margin-top: 30px;
}
section.homeservice article.row{
    margin: 0 auto;
}
section.homeservice article .col{
    text-align: center;
    height: 13.5rem;
}
section.homeservice article .col img{
    background: #fcda00;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
section.homeservice article .col h1{
    font-size: 16px;
    color: #2d2d2c;
    margin: 18px 0 8px;
}
section.homeservice article .col p{
    font-size: 12px;
    color: #2d2d2c;
    margin: 0;
}
  /*-----------------*/
 /*-- Home Venues --*/
/*-----------------*/
section.homevenues{
    background: url('../images/home-venues-bg.jpg') center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 40px 0 20px;
}
section.homevenues article .col h1{
    font-size: 28px;
    margin: 0 0 16px;
}
section.homevenues article .col h1 span, section.homevenues article .col p span{
    color: #fcda00;
}
section.homevenues article .col p{
    font-size: 16px;
    margin: 0 0 35px;
}
  /*---------------------*/
 /*-- Home Signup Bar --*/
/*---------------------*/
section.homesignupbar{
    background: #fcda00;
    color: #2d2d2c;
    padding: 35px 0;
}
section.homesignupbar article.row{
    margin: 0 auto;
}
section.homesignupbar article h1{
    font-size: 28px;
    text-align: right;
    margin: 0;
}
section.homesignupbar article a{
    font-size: 14px;
    color: #000;
    border: 2px solid #000;
    padding: 12px 17px;
    transition: all .5s;
    -webkit-transition: all .5s;
}
section.homesignupbar article a:hover{
    color: #fcda00;
    background: #000;
}
  /*-----------------*/
 /*-- Home footer --*/
/*-----------------*/
section.homefooter{
    background: url('../images/home-footer-bg.jpg') bottom center;
    background-size: cover;
    text-align: center;
    color: #191918;
    padding: 110px 0;
}
section.homefooter article.row{
    margin: 0 auto;
}
section.homefooter article .col{
    background: rgba(252, 218, 0, 0.6);
    padding: 25px;
}
section.homefooter article h1{
    font-size: 38px;
    line-height: 37px;
    margin: 0 0 20px;
}
section.homefooter article p{
    font-size: 22px;
    line-height: 25px;
    margin: 0;
}
section.homefooter article a{
    background: #191918;
    padding: 8px 6px;
    margin: 20px auto 0;
    display: block;
    border: 2px solid #191918;
    width: 38px;
    transition: all .5s;
    -webkit-transition: all .5s;
}
section.homefooter article a:hover{
    background: rgba(252, 218, 0, 0.4);
}
  /*------------*/
 /*-- Footer --*/
/*------------*/
footer{
    background: #000;
    color: #fff;
    padding: 14px 0 10px;
}
footer .row{
    margin: 0 auto;
}
footer .col:first-child{
    margin-top: 5px;
    padding-left: 0px;
}
footer .col:first-child p{
    margin: 0;
    font-size: 12px;
}
footer .col:first-child a{
    color: #fff;
    margin-left: 20px;
    font-size: 12px;
    transition: all .5s;
    -webkit-transition: all .5s;
}
footer .col:first-child a:hover{
    color: #fcda00;
}
footer .col:last-child{
    text-align: right;
    padding-right: 0;
}
footer .col:last-child a img{
    background: #797979;
    padding: 3px;
    margin-left: 8px;
    width: 28px;
    height: 29px;
    transition: all .5s;
    -webkit-transition: all .5s;
}
footer .col:last-child a:hover img{
    background: #fcda00;
}


  /*----------------------------------*/
 /*-- Responsive Mobile and Tablet --*/
/*----------------------------------*/
@media only screen and (max-width: 1150px){
    /*-- Home Service --*/
    section.homeservice article .col {
        height: 15rem;
    }
    /*-- Home footer --*/
    section.homefooter article h1 {
        font-size: 30px;
        line-height: 29px;
        margin: 0 0 12px;
    }
    section.homefooter article p {
        font-size: 18px;
        line-height: 20px;
    }
}
@media only screen and (max-width: 992px){
    /*-- Navigation --*/
    nav .brand-logo {
        left: 70px !important;
    }
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px !important;
        line-height: 80px !important;
    }
    nav img.responsive-img{
        margin-top: 25px;
        width: 10rem;
    }
    /*-- Home Header --*/
    section.homeheader .mobile-picture {
        width: 32%;
    }
    section.homeheader article h1 {
        font-size: 28px;
        line-height: 30px;
    }
    section.homeheader article p {
        font-size: 15px;
        line-height: 20px;
    }
    section.homeheader article .valign-wrapper p a {
        font-size: 13px;
    }
    section.homeheader article .valign-wrapper p {
        font-size: 12px;
    }
    /*-- Home Service --*/
    section.homeservice article .col {
        height: 13rem;
    }
    /*-- Home Venues --*/
    section.homevenues article .col h1 {
        font-size: 20px;
    }
    section.homevenues article .col p {
        font-size: 14px;
    }
    /*-- Home Signup Bar --*/
    section.homesignupbar article h1 {
        font-size: 25px;
    }
    section.homesignupbar article a {
        font-size: 12px;
        padding: 12px 15px;
    }
    /*-- Home footer --*/
    section.homefooter article h1 {
        font-size: 28px;
        line-height: 27px;
    }
    section.homefooter article p {
        font-size: 16px;
        line-height: 18px;
    }
    /*-- Footer --*/
    footer .col:first-child a.plclnk{
        margin-left: 0;
    }
    footer .col:first-child p, footer .col:first-child a {
        float: none !important;
    }
    footer .col:last-child {
        margin-top: 9px;
    }
    footer .col:first-child{
        text-align: center;
        padding-right: 0;
    }
    footer .col:last-child{
        text-align: center;
        padding-left: 0;
    }
}
@media only screen and (max-width: 770px){
    /*-- Home Service --*/
    section.homeservice article .col {
        height: 14.5rem;
    }
}
@media only screen and (max-width: 600px){
    /*-- Home Header --*/
    section.homeheader{
        padding: 120px 0 315px;
    }
    section.homeheader .mobile-picture {
        max-width: 85%;
        bottom: -260px;
        width: 20rem;
        left: 0;
        right: 0;
        margin: auto;
    }
    /*-- Home Service --*/
    section.homeservice article .col {
        height: auto;
        margin-bottom: 20px;
    }
    /*-- Home Signup Bar --*/
    section.homesignupbar article.row {
        display: block;
        text-align: center;
    }
    section.homesignupbar article h1 {
        text-align: center;
        margin-bottom: 20px;
    }
}
